{% load staticfiles %}
{% load i18n %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.ico' %}" />
        <title>Palabro</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                {% if user.profile.native_language %}
                <a href="{% url 'language_new' %}" class="">
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    {% trans "Add" %}
                </a>
                <a href="{% url 'language_list' %}" class="">
                    <!--<span class="glyphicon glyphicon-edit"></span>-->
                    {% trans "List" %}
                </a>
                <p class="">{% trans "Hello" %} {{ user.first_name }} 
                    <small>(<a href="{% url 'logout' %}">{% trans "Logout" %}</a>)
                    </small>
                </p>
                <p class="">
                    <small><a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a>
                    </small>
                </p>
                {% else %}
                    <p class="">
                        {% trans "Selecciona tu idioma nativo" %}
                    </p>
                {% endif %}
                <p class="">
                    <small><a href="{% url 'profile' %}">{% trans "Profile" %}</a>
                    </small>
                </p>
            {% else %}
                <a href="{% url 'login' %}" class="">
                    <!--<span class="glyphicon glyphicon-lock"></span>-->
                    {% trans "Login" %}
                </a>/
                <a href="{% url 'signup' %}" class="">
                    {% trans "Register" %}
                </a>  
            {% endif %}
            
            <h1><a href="/">Palabro</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="footer">
            
        </div>
    </body>
</html>
