{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>Palabro</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'language_new' %}" class="top-menu">
                    Add
                </a>
                <a href="{% url 'language_list' %}" class="top-menu">
                    List
                </a>
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
                <p class="top-menu"><small>(<a href="{% url 'dashboard' %}">My dashboard</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">
                    Login
                </a>
                /
                <a href="{% url 'signup' %}" class="top-menu">
                    Register
                </a>            
            {% endif %}

            {% if ip %}
                {{ ip }}
            {% else %}
                X
            {% endif %}

            {% if country_code %}
                {{ country_code }}
            {% endif %}
            <h1><a href="/">Palabro</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="footer">
            E.O.
        </div>
    </body>
</html>
