{% extends 'palabro/base.html' %}


{% block content %}
    <form action='.' method='post'>
        <label for="username">Your name:</label>
        <input type="text" name="username" value="" id="username">
        <label for="username">Your last name:</label>
        <input type="text" name="last_name" value="" id="last_name">
        <label for="username">Your email:</label>
        <input type="text" name="email" value="" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">
        <label for="password">Confirm password:</label>
        <input type="password" name="password2" value="" id="password2">

        <input type="submit" value="register" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
{% endblock %}
